<h1><%= class.Name %></h1>


<table class="table table-striped">
    <thead>
        <th><%= t("calendar.start") %></th>
        <th><%= t("calendar.name") %></th>
        <th><%= t("calendar.location") %></th>
        <th></th>
    </thead>
    <tbody>
    <%= for (key, event) in events { %>
        <td><%= event.Start %></td>
        <td><%= event.Summary %></td>
        <td><%= event.Location %></td>
        <td>
            <%= linkTo(newActivitiesPath({ class_id: class.ID, date: event.Start, title: event.Summary}),
                {class: "btn btn-primary", body: t("action.createActivity") })  %>
        </td>
        </tr>
    <% } %>
    </tbody>
</table>