<h1><%= class.Name %></h1>

<p><i>Indberetning mangler for følgende.</i></p>
<table class="table">
    <tbody>
    <%= for (key, event) in events { %>

        <tr>
            <td colspan="2">
                <hr>
                <b><%= linkTo(newActivitiesPath({ class_id: class.ID, date: event.Start, title: event.Summary}), { body: event.Summary }) %></b>
            </td>
        </tr>
        <tr>
            <td class="agenda-date" class="active" rowspan="1">
                <div class="dayofmonth"><%= event.Start %></div>
            </td>
            <td class="agenda-time">
                <div class="agenda-event">
                    <i class="text-muted"> <%= event.Location %></i> 
                </div>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>