<h1><%= class.Name %></h1>

<div id="activity-duration-warning" class="alert alert-warning" role="alert">
      <p><i>Indberetning mangler for følgende. Nyeste event øverst.</i></p>
</div>

<div class="container" >
  <div class="row">
  <%= buttonGroup(true) { %>
      <%= buttonGroupButton(t("action.createActivity.long"), "plus", pathFor(newActivitiesPath({ class_id: class.ID }))) %>
  <% } %>
  </div>
</div>
<br />

<%= for (key, event) in events { %>
<div class="card">
  <div class="card-body">
  <%= if (event.Start) { %>
    <span class="text-muted small text-truncate"><%= event.Start %></span>
    <br />
  <% } %>
    <b><%= linkTo(newActivitiesPath({ class_id: class.ID, date: event.Start, title: event.Summary, duration: event.Duration}), { body: event.Summary }) %></b>
    <br />
  <%= if (event.Location) { %>
    <span class="text-muted small text-truncate"><%= event.Location %></span>
    <br />
  <% } %>
  </div>
</div>
<% } %>
