<div class="page-header">
  <h1>Klasserne</h1>
</div>

<table class="table table-striped">
  <thead>
    <th><%= t("class.name")} %></th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (class) in classes { %>
      <tr>
        <td>
            <%= linkTo(classPath({ class_id: class.ID }), { body: class.Name}) %>
        </td>

        <td>

            <%= buttonGroup() { %>
              <%= buttonGroupButton(t("action.edit"), "pen", pathFor(editClassPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton(t("action.createActivity"), "plus", pathFor(newActivitiesPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton(t("action.showActivities"), "exclamation", pathFor(activitiesPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton(t("action.activityStatus"), "exclamation", pathFor(editClassPath({ class_id: class.ID }))) %>
            <% } %>

        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
<ul class="list-unstyled list-inline">
    <li>
      <%= linkTo(newClassesPath(), {class: "btn btn-primary"}) { %>
        <%= t("class.create")
      <% } %>
    </li>
  </ul>