<div class="page-header">
  <h1>Klasserne</h1>
</div>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (class) in classes { %>
      <tr>
        <td>
            <%= linkTo(classPath({ class_id: class.ID }), { body: class.Name}) %>
        </td>

        <td>

            <%= buttonGroup() { %>
              <%= buttonGroupButton("Edit", "pen", pathFor(editClassPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton("Indberet", "plus", pathFor(editClassPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton("Aktiviteter", "exclamation", pathFor(editClassPath({ class_id: class.ID }))) %>
              <%= buttonGroupButton("Status", "exclamation", pathFor(editClassPath({ class_id: class.ID }))) %>
            <% } %>

        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
<ul class="list-unstyled list-inline">
    <li>
      <%= linkTo(newClassesPath(), {class: "btn btn-primary"}) { %>
        Create New Class
      <% } %>
    </li>
  </ul>