<div class="page-header">
  <h1><%= class.Name %></h1>
</div>

<div class="padding">

<%= buttonGroup() { %>
  <%= buttonGroupButton(t("action.edit"), "pen", pathFor(editClassPath({ class_id: class.ID }))) %>
  <%= buttonGroupButton(t("action.createActivity"), "plus", pathFor(newActivitiesPath({ class_id: class.ID }))) %>
  <%= buttonGroupButton(t("action.showActivities"), "calendar-alt", pathFor(activitiesPath({ class_id: class.ID }))) %>
  <%= buttonGroupButton(t("action.activityStatus"), "exclamation", pathFor(calendarShowPath({ class_id: class.ID }))) %>
<% } %>
</div>

<br />
<div>
  <h2>Deltagere</h2>
</di>


<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <%= for (participant) in class.Participants { %>
        <div class="list list-row block">
          <div class="list-item">
            <div>
              <span class="w-48 avatar gd-warning">
                <img src="https://i.pravatar.cc/300?u=<%= participant.ID %>">
              </span>
            </div>
            <div class="flex">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <%= linkTo(participantPath({ participant_id: participant.ID }), { body:  participant.FirstName + " " + participant.LastName}) %>
                    <div class="item-except text-muted text-sm h-1x">
                      <span>Født: <%= participant.DateOfBirth %></span>

                    </div>

                    <div class="item-except text-muted text-sm h-1x">
                      <%= if (participant.Phone) { %>
                      Tel: <a href="tel://<%= participant.Phone %>"><%= participant.Phone %></a>
                      <% } %>
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<p>
  <a href="<%= class.Calendar %>">Kalender</a>
</p>

<div>
    <h2>Ny deltager</h2>
</div>

<%= formFor(participant, {action: participantsPath(), method: "POST"}) { %>
  <%= partial("participants/form.html") %>
<% } %>
