<div class="page-header">
  <h1><%= class.Name %></h1>
</div>

<p>
  <strong>Calender</strong>: <%= class.Calender %>
</p>


<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Phone</th>
    <th>DateOfBirth</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (participant) in class.Participants { %>
      <tr>
      <td>
        <%= linkTo(participantPath({ participant_id: participant.ID }), {body: participant.Name}) %>
      </td>
        <td><%= participant.Phone %></td>
        <td><%= participant.DateOfBirth %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<div>
    <h2>Ny deltager</h2>
</div>

<%= formFor(participant, {action: participantsPath(), method: "POST"}) { %>
  <%= partial("participants/form.html") %>
<% } %>
