<div class="page-header">
  <h1><%= class.Name %></h1>
</div>

<p>
  <strong><%= t("class.calendar") %></strong>: <%= class.Calendar %>
</p>


<table class="table table-striped">
  <thead>
    <th><%= t("participant.name")} %></th>
    <th><%= t("participant.phone")} %></th>
    <th><%= t("participant.dateOfBirth")} %></th>
    </thead>
  <tbody>
    <%= for (participant) in class.Participants { %>
      <tr>
      <td>
        <%= linkTo(participantPath({ participant_id: participant.ID }), {body: participant.FirstName + " " + participant.LastName}) %>
      </td>
        <td><%= participant.Phone %></td>
        <td><%= participant.DateOfBirth %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<div>
    <h2>Ny deltager</h2>
</div>

<%= formFor(participant, {action: participantsPath(), method: "POST"}) { %>
  <%= partial("participants/form.html") %>
<% } %>
