.container {
	min-width: 320px;
}

.image-icon {
    color: white;
    font-size: 12px;
    position: relative;
    top: -22px;
    left: 65px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 32px;
}

.logo img {
	width: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lilita One,Helvetica,Arial,"sans-serif";
}

h1 {
	font-weight: 400;
	letter-spacing: 0.96px;
	color: rgb(225, 83, 16);
	margin-bottom: 13px;
	margin-top: 5px;
}

h2 {

	color: rgb(69, 104, 137);
	display: inline-block;
	margin: 0;
}

.titles a {
	color: white;
	text-decoration: underline;
}

.titles i {
	margin-right: 5px;
	text-decoration: none;
}

.titles .documentation {
	margin-left: 28px;
}

.subtitle {
	color: white;
	margin: 0;
	padding: 13px 0;
	background-color: #2a3543;
	margin-bottom: 20px;
}

.subtitle h3 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}

table {
	font-size: 14px;
}

table.table tbody tr td {
	border-top: 0;
	padding: 10px;
}

.foot {
	text-align: right;
	color: #c5c5c5;
	font-weight: 300;
}

.foot a {
	color: #8b8b8b;
	text-decoration: underline;
}

.centered {
	text-align: center;
}

@media all and (max-width: 770px) {
	.titles h1 {
		font-size: 25px;
		margin: 15px 0 5px 0;
	}
}

@media all and (max-width: 640px) {
	.titles h1 {
		font-size: 23px;
		margin: 15px 0 5px 0;
	}
	.titles h2 {
		font-size: 15px;
	}
	.titles .documentation {
		margin-left: 10px;
	}
}

@media all and (max-width: 530px) {
	.titles h1 {
		font-size: 20px;
		margin: 5px 0;
	}
	.logo {
		padding: 0
	}
	.logo img {
		width: 100%
	}
	.titles .documentation {
		margin-left: 0px;
		margin-top: 5px;
		display: block;
	}
}

.flex {
	width: 100%;
}

.block,
.card {
    background: #eee;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 0.6rem
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.list {
    padding-left: 0;
    padding-right: 0
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.no-wrap {
    white-space: nowrap
}

.text-color {
    color: #5e676f
}

.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.w-48 {
    width: 48px !important;
    height: 48px !important
}

.w-96 {
    width: 96px !important;
    height: 96px !important
}


a:link {
    text-decoration: none
}