<%= f.InputTag("Title", {label:t("activity.title"), "required":nil }) %>

<%= f.InputTag("Duration", {label:t("activity.duration"), "min":0.5, "type":"number", "step":0.05}) %>
<div id="activity-duration-warning" style="display: none" class="alert alert-warning" role="alert">
    <%= t("activity.duration.warning") %>
</div>

<%= f.InputTag("Date", {type:"date", label:t("activity.date")}) %>
<%= f.HiddenTag("ClassID") %>

<table class="table table-striped">
    <thead>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th width="85%"><%= t("participant.name") %></th>
    </thead>
    <tbody>
        <tr><td colspan=3><b>Ledere</b></td></tr>
        <%= for (participant) in participants { %>
        <%= if (grownup(participant)) { %>
        <tr>
            <td>
                <input 
                <%= checkboxChecked(participant.ID, activity.Participants) %>
                type="checkbox"
                name="participants"
                value="<%= participant.ID %>">
            </td>
            <td>
                <span class="w-48 avatar gd-warning">
                <%= if (image(participant.Image)) { %>
                    <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>">
                <% } else { %>
                    <img src="/assets/images/empty-avatar.png"> </span>
                <% } %>
                </span>
            </td>
            <td><%= participant.FirstName %> <%= participant.LastName %></td>
        </tr>
        <% } %>
        <% } %>
        <tr><td colspan=3><b>Deltagere</b></td></tr>
        <%= for (participant) in participants { %>
        <%= if (!grownup(participant)) { %>
        <tr>
            <td>
                <input 
                <%= checkboxChecked(participant.ID, activity.Participants) %>
                type="checkbox"
                name="participants"
                value="<%= participant.ID %>">
            </td>
            <td>
                <span class="w-48 avatar gd-warning">
                <%= if (image(participant.Image)) { %>
                    <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>">
                <% } else { %>
                    <img src="/assets/images/empty-avatar.png"> </span>
                <% } %>
                </span>
            </td>
            <td><%= participant.FirstName %> <%= participant.LastName %></td>
        </tr>
        <% } %>
        <% } %>
    </tbody>
</table>
<div id="activity-participants-warning" style="display: none" class="alert alert-warning" role="alert">
    <%= t("activity.participants.warning") %>
</div>

<button class="btn btn-success" role="submit"><%= t("action.save") %></button>