<%= f.InputTag("Title", {label:t("activity.title")}) %>
<%= f.InputTag("Duration", {label:t("activity.duration")}) %>

<%= f.InputTag("Date", {type:"date", label:t("activity.date")}) %>
<%= f.HiddenTag("ClassID") %>

<table class="table table-striped">
    <thead>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th width="85%"><%= t("participant.name") %></th>
    </thead>
    <tbody>
        <%= for (participant) in participants { %>
        <tr>
            <td>
                <input 
                <%= checkboxChecked(participant.ID, activity.Participants) %>
                type="checkbox"
                name="participants"
                value="<%= participant.ID %>">
            </td>
            <td>
                <span class="w-48 avatar gd-warning">
                <%= if (image(participant.Image)) { %>
                    <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>">
                <% } else { %>
                    <img src="/assets/images/empty-avatar.png"> </span>
                <% } %>
                </span>
            </td>
            <td><%= participant.FirstName %> <%= participant.LastName %></td>
        </tr>
        <% } %>
    </tbody>
</table>


<button class="btn btn-success" role="submit"><%= t("action.save") %></button>