<%= f.InputTag("Title", {label:t("activity.title")}) %>
<%= f.InputTag("Duration", {label:t("activity.duration")}) %>

<%= f.InputTag("Date", {type:"date", label:t("activity.date")}) %>
<%= f.HiddenTag("ClassID") %>

<table class="table table-striped">
    <thead>
        <th>&nbsp;</th>
        <th><%= t("participant.name") %></th>
    </thead>
    <tbody>
        <%= for (participant) in participants { %>
        <tr>
            <td>
                <input 
                <%= checkboxChecked(participant.ID, activity.Participants) %>
                type="checkbox"
                name="participants"
                value="<%= participant.ID %>">
            </td>

            <td><%= participant.FirstName %> <%= participant.LastName %></td>
        </tr>
        <% } %>
    </tbody>
</table>


<button class="btn btn-success" role="submit"><%= t("action.save") %></button>