<div class="page-header">
  <%= if (class) { %>
  <h1><%= class.Name %></h1>
  <% } else { %>
  <h1>Alle Aktiviteter</h1>
  <% } %>

</div>

<table class="table table-striped">
  <thead>

    <th><%= t("activity.date") %></th>
    <th><%= t("activity.duration") %></th>
    <th><%= t("activity.participants") %></th>
    <th><%= t("activity.participantHours") %></th>
  </thead>
  <tbody>
    <%= for (activity) in activities { %>
    <tr>
      <td colspan=6>
        <%= if (class) { %>
          <%= linkTo(activityPath({ activity_id: activity.ID }), {body: activity.Title}) %>
        <% } else { %>
          <%= linkTo(activityPath({ activity_id: activity.ID }), {body: activity.Class.Name + " - " + activity.Title}) %>
        <% } %>
      </td>
    </tr>
    <tr>

      <td><%= activity.Date %></td>
      <td><%= activity.Duration %></td>
      <td><%= len(activity.Participants) %></td>
      <td><%= partipantHours(activity) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>