<div class="page-header">
  <h1>Aktivitets indberetning</h1>
</div>

<table class="table table-striped">
  <thead>

  </thead>
  <tbody>
    <tr>
      <td><%= t("activity.title") %></td>
      <td><%= activity.Title %></td>
    </tr>
    <tr>
      <td><%= t("activity.duration") %></td>
      <td><%= activity.Duration %></td>
    </tr>
    <tr>
      <td><%= t("activity.date") %></td>
      <td><%= activity.Date %></td>
    </tr>
    <tr>
      <td><%= t("activity.class") %></td>
      <td><%= activity.Class.Name %></td>
    </tr>
    <tr>
      <td><%= t("activity.participantHours") %></td>
      <td><%= partipantHoursA(activity) %></td>
    </tr>
  </tbody>
</table>

<h2>Deltagere</h2>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Telefon</th>
    <th>Fødselsdato</th>

  </thead>
  <tbody>
    <%= for (participant) in activity.Participants { %>
    <tr>
      <td><%= participant.Name %></td>

      <td><a href="tel:<%= participant.Phone %>"><%= participant.Phone %></a></td>
      <td><%= participant.DateOfBirth %></td>
    </tr>
    <% } %>
  </tbody>
</table>


<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(editActivityPath({ activity_id: activity.ID }), {class: "btn btn-warning", body: t("action.edit")}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(activityPath({ activity_id: activity.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: t("action.destroy")}) %>
  </li>
</ul>