<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2 px-0">
          <%= if (image(participant.Image)){ %>
            <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>" class="rounded-circle mx-auto d-block img-fluid shadow w-72">
          <% } else { %>
            <img src="/assets/images/empty-avatar.png" class="rounded-circle mx-auto d-block img-fluid shadow w-72">
          <% } %>
        </div>
        <div class="col-8 col-sm-9 col-md-10 text-sm-left">
          
        <%= linkTo(participantPath({ participant_id: participant.ID }), { body:  participant.FirstName + " " + participant.LastName}) %>
          <br />
        <%= if (participant.MemberNumber) { %>
          <span class="text-muted small text-truncate"><%= t("participant.memberNumber.short") %> : <%= participant.MemberNumber %></span>
          <br />
        <% } %>
        <%= if (participant.Phone) { %>
          <span class="text-muted small text-truncate">Tlf: <a href="tel://<%= participant.Phone %>"><%= participant.Phone %></a></span> 
          <br />
        <% } %>
        <%= if (participant.DateOfBirth) { %>
          <span class="text-muted small text-truncate">Født: <%= format(participant.DateOfBirth, "02 Jan 2006") %> (<%= age(participant.DateOfBirth)%>)</span>    
          <br />
        <% } %>
        </div>
      </div>
    </div>
  </div>