<span class="w-96 avatar gd-warning">
<%= if (uuid(participant.Image.ID)){ %>
    <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>">
<% } else { %>
    <img src="/assets/images/empty-avatar.png"> </span>
<% } %>
</span>

<%= if (uuid(participant.Image.ID)){ %>
    <%= linkTo(editParticipantsImagePath({ participants_image_id: participant.Image.ID }), {class: "btn btn-warning", body: "Billede"}) %>
<% } else { %>
    <%= linkTo(newParticipantsImagesPath({ participant_id: participant.ID}), {class: "btn btn-warning", body: "Billede"}) %>
<% } %>

<%= f.InputTag("FirstName", {label: t("participant.firstname")}) %>
<%= f.InputTag("LastName", {label: t("participant.lastname")}) %>
<%= f.InputTag("Phone", {label: t("participant.phone")}) %>
<%= f.InputTag("MemberNumber", {label: t("participant.memberNumber")}) %>

<%= if (participant.DateOfBirth && participant.DateOfBirth.Valid) { %>
    <%= f.InputTag("DateOfBirth", {type:"date", value: participant.DateOfBirth.Time, min: "1900-01-01", label: t("participant.dateOfBirth")}) %>
<% } else { %>
    <%= f.InputTag("DateOfBirth", {type:"date", min: "1900-01-01", label: t("participant.dateOfBirth")}) %>
<% } %>

<button class="btn btn-success" role="submit"><%= t("action.save") %></button>