<%= f.InputTag("FirstName", {label: t("participant.firstname")}) %>
<%= f.InputTag("LastName", {label: t("participant.lastname")}) %>
<%= f.InputTag("Phone", {label: t("participant.phone")}) %>
<%= f.InputTag("MemberNumber", {label: t("participant.memberNumber")}) %>

<%= if (participant.DateOfBirth && participant.DateOfBirth.Valid) { %>
    <%= f.InputTag("DateOfBirth", {type:"date", value: participant.DateOfBirth.Time, min: "1900-01-01", label: t("participant.dateOfBirth")}) %>
<% } else { %>
    <%= f.InputTag("DateOfBirth", {type:"date", min: "1900-01-01", label: t("participant.dateOfBirth")}) %>
<% } %>

<button class="btn btn-success" role="submit"><%= t("action.save") %></button>