<div class="d-md-none">


  <div class="card-body">
    <center class="m-t-30">

      <%= partial("participants/profile_image.html") %>
      <h1 class="card-title m-t-10"><%= participant.FirstName %> <%= participant.LastName %></h1>

      <a href="<%= pathFor(editParticipantPath({ participant_id: participant.ID })) %>"
        class="profile-edit-btn">
        <i class="fas fa-pen-alt"></i> Rediger
      </a>

      </center>
    </div>
    <div class="card-body">
      <small class="text-muted"><%= t("participant.memberNumber") %></small>
      <h6><%= participant.MemberNumber %></h6>
      <small class="text-muted"><%= t("participant.phone") %></small>
      <h6><%= participant.Phone %></h6>
      <small class="text-muted"><%= t("participant.dateOfBirth") %></small>
      <h6><%= format(participant.DateOfBirth, "02 Jan 2006") %> (<%= age(participant.DateOfBirth)%>)</h6>
    </div>
</div>

<div class="d-none d-md-block">
  <div class="page-header">
    <h1><%= participant.FirstName %> <%= participant.LastName %></h1>
  </div>



  <div class="row">
    <div class="col-auto">
        <%= partial("participants/profile_image.html") %>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.memberNumber") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= participant.MemberNumber %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.phone") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= participant.Phone %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.dateOfBirth") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= format(participant.DateOfBirth, "02 Jan 2006") %> (<%= age(participant.DateOfBirth)%>)</p>
            </div>
        </div>
    </div>

    <div class="col-auto">
      <a href="<%= pathFor(editParticipantPath({ participant_id: participant.ID })) %>"
        class="profile-edit-btn">
        <i class="fas fa-pen-alt"></i> Rediger
      </a>
    </div>
  </div>
</div>

<div class="page-header">
  <h2>Klasser</h2>
</div>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (membership) in participant.Memberships { %>
    <% let c = getClass(membership, classes)%>
    <tr>
      <td><%= c.Name %></td>
      <td>
        <span class="float-right">
          <%= linkTo(classMembershipPath({ class_membership_id: membership.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Fjern fra klasse"}) %>
        </span>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>



<div class="page-header">
  <h2>Tilføj til klasse</h2>
</div>


<%= form_for(classMembership, {action: classMembershipsPath(), method: "POST"}) { %>
<%= partial("class_memberships/participant_form.html", {classMembership:classMembership, classes: classes, participantID: participant.ID}) %>
<% } %>