<div class="page-header">
  <h1>Participant#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(participantsPath(), {class: "btn btn-info"}) { %>
      Back to all Participants
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(editParticipantPath({ participant_id: participant.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(participantPath({ participant_id: participant.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
</ul>

<p>
  <strong>Name</strong>: <%= participant.Name %>
</p>
<p>
  <strong>Phone</strong>: <%= participant.Phone %>
</p>
<p>
  <strong>DateOfBirth</strong>: <%= participant.DateOfBirth %>
</p>
