<div class="page-header">
  <h1><%= participant.FirstName %> <%= participant.LastName %></h1>
</div>

<div class="row">
    <div class="col-auto">
      <span class="avatar w-profile">
        <%= if (image(participant.Image)) { %>
            <img src="<%= pathFor(participantsImagePath({ participants_image_id: participant.Image.ID })) %>">
        <% } else { %>
            <img src="/assets/images/empty-avatar.png"> </span>
        <% } %>
        </span>

        <%= if (image(participant.Image)) { %>
            <a href="<%= pathFor(editParticipantsImagePath({ participants_image_id: participant.Image.ID })) %>" class="btn btn-primary image-icon">
                <i class="fas fa-pen-alt"></i>
            </a>
        <% } else { %>
            <a href="<%= pathFor(newParticipantsImagesPath({ participant_id: participant.ID })) %>" class="btn btn-primary image-icon">
                <i class="fas fa-plus"></i>
            </a>
        <% } %>
      </span>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.memberNumber") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= participant.MemberNumber %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.phone") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= participant.Phone %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label><b><%= t("participant.dateOfBirth") %></b></label>
            </div>
            <div class="col-sm-6">
                <p><%= format(participant.DateOfBirth, "02 Jan 2006") %> (<%= age(participant.DateOfBirth)%>)</p>
            </div>
        </div>

    </div>
    <div class="col-auto">
    <a href="<%= pathFor(editParticipantPath({ participant_id: participant.ID })) %>"
      class="profile-edit-btn">
      <i class="fas fa-pen-alt"></i> Rediger
    </a>
  </div>
</div>

<div class="page-header">
  <h2>Klasser</h2>
</div>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (membership) in participant.Memberships { %>
    <% let c = getClass(membership, classes)%>
    <tr>
      <td><%= c.Name %></td>
      <td>
        <span class="float-right">
          <%= linkTo(classMembershipPath({ class_membership_id: membership.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Fjern fra klasse"}) %>
        </span>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>



<div class="page-header">
  <h2>Tilføj til klasse</h2>
</div>


<%= form_for(classMembership, {action: classMembershipsPath(), method: "POST"}) { %>
<%= partial("class_memberships/participant_form.html", {classMembership:classMembership, classes: classes, participantID: participant.ID}) %>
<% } %>